@import './partials/bootstrap-overrides';
@import './partials/general';
@import './partials/hero';
@import './partials/suggestion-card';
@import './partials/footer';
@import './partials/projects';
@import './partials/profile-sections';
@import './partials/modal';
@import './partials/login';
@import './partials/home';

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css');

.background-login {
  min-height: calc(100vh - 327px);
  padding-top: 72px;
}
.background {
  min-height: 100vh;
  background-color: $bg-color;
}
