//navbar

.navbar-container {
  p {
    margin: 0;
    font-size: 0.9rem;
  }
}

//profile
.profile-container {
  .row {
    .left-column,
    .right-column {
      min-height: 100vh;
    }
    .right-column {
      min-width: 300px;
      padding: 0px;
    }
    .left-column {
      flex-grow: 1;
    }
  }
}
