//navbar

.navbar-container {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 1px solid $secondary-light;

  a:not(.navbar-brand) {
    margin: 0;
    padding: 0;
    width: 78px;
    text-decoration: none !important;
    &:hover {
      img {
        filter: grayscale(0) brightness(20%) contrast(300%);
        transition: filter 0.6s ease;
      }
    }
  }
  .navbar-brand {
    margin: 0;
  }
  p {
    margin: 0;
    font-size: 12px;
    letter-spacing: -0.5px;
    color: $secondary;
  }

  @media (max-width: $md) {
    p {
      display: none;
    }
    a:not(.navbar-brand) {
      width: 50px;
    }
    .propic-wrapper {
      width: 50px !important;
    }
  }
  .form-control,
  .input-group,
  .input-group-text {
    background-color: $primary-light;
    border: 1px solid $secondary-emphasis;
    border-radius: 6px;
  }
  .form-control {
    &:focus {
      border: none;
      box-shadow: none;
      outline: none;
    }
  }
  .input-group:focus-within {
    box-shadow: 0 0 0 2px $warning;
  }

  .propic-wrapper {
    width: 78px;
  }
  .propic {
    border-radius: 50%;
    object-fit: cover;
    width: 24px;
    height: 24px;
  }
  .first-dropdown {
    a {
      text-align: center;
      font-size: 12px;
      letter-spacing: -0.5px;
    }
  }
  .separate {
    border-left: 1px solid #e9e9e9;
  }
  .second-dropdown {
    a {
      font-size: 12px;
      letter-spacing: -0.5px;
    }
  }

  .dropdown-menu {
    padding-inline: 5px;
    .dropdown-item {
      padding: 4px 14px;
      min-width: 160px !important;
      &:hover {
        background-color: $primary-light;
        border-radius: 2px;
      }
    }
    a {
      font-size: 16px;
      text-align: start;
      text-decoration: none;
    }

    border-top-right-radius: 0px;
  }
}

.status-bar {
  min-height: 60px;
  background-color: aquamarine;
}

//profile
.profile-container {
  .row {
    .left-column,
    .right-column {
      min-height: 100vh;
    }
    .right-column {
      min-width: 300px;
      padding: 0px;
    }
    .left-column {
      flex-grow: 1;
    }
  }
}
.exp-container {
  margin-block: 1rem;
}

@media (max-width: $md) {
  .profile-container {
    padding: 0;
  }
}
@media (max-width: $sm) {
  .hero-section {
    margin-block: 0 1rem !important;
  }
}

.experience-icon {
  cursor: pointer;
  font-size: 1.3rem;
}
