.container-home {
  margin-top: 73px;
  padding: 0;

  background-color: #f4f2ee;

  .row {
    border-radius: 8px;
    .col {
      padding: 0;
      background-color: white;
      border-radius: 8px;

      a {
        text-decoration: none;
        font-size: 0.8em;
        font-weight: 600;
        padding: 7px;
      }
      p {
        margin: 0;
        padding: 5px;
        text-align: center;
        font-size: 1em;
        color: rgb(102, 102, 102);
        font-weight: 600;
      }
      .par {
        border-top: 1px solid rgb(226, 226, 226);
      }
    }
    .side-bar {
      background-color: white;
      .col {
        padding: 0;
        background-color: white;
      }

      img {
        width: 100%;
        height: 65px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      .profile {
        width: 75px;
        margin-top: -40px;
        height: 75px;
        border-radius: 50%;
        object-fit: cover;
        aspect-ratio: 4/4;
        border: 2px solid white;
      }
      h4 {
        font-size: 1em;
      }
      p {
        font-size: 0.75em;
        color: grey;
      }
      .par {
        border-top: 1px solid rgb(226, 226, 226);
      }
      h6 {
        font-size: 0.8em;
      }
      .icon {
        width: 25px;
        height: 40px;
      }
      i {
        color: rgb(124 123 123);
        font-size: 0.9em;
      }
    }
  }
}

.center-home {
  padding: 0;
  margin: 0;
  .row {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    .col {
      padding: 0;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        object-fit: cover;
      }
      input {
        width: 100%;
        border: 1px solid rgb(187, 187, 187);
        border-radius: 75px;
        padding: 0.6rem 0.8rem;
        color: $dark;
        font-size: 12px;
        font-weight: 700;
      }
      .col-3,
      .col-4 {
        padding: 0;
      }
      .list {
        color: rgb(255, 83, 40);
      }
      .calendar {
        color: rgb(231, 152, 79);
      }
      .img {
        border-radius: 50%;
        color: $primary;
      }
      .p {
        font-size: 0.8em;
      }
    }
    .col-12 {
      p {
        font-size: 0.8em;
      }
      img {
        width: 20px;
        margin-right: 20px;
      }
    }
    .row {
      span {
        font-weight: 600;
      }
      blockquote {
        color: grey;
        font-size: 0.7em;
      }
      p {
        text-align: start;
        font-size: 0.7em;
      }
      // .img-post {
      //   width: 100%;
      //   height: 100%;
      //   border-radius: 0%;
      //   padding: 0;
      //   object-fit: cover;
      // }
    }
  }
}
.container-home .row .border-side {
  border-radius: 8px;
  span {
    color: rgb(139, 139, 139);
    font-weight: 600;
  }
  p {
    font-size: 0.9em;
    font-weight: 700;
    color: rgb(49, 49, 49);
    span {
      font-size: 0.8em;
    }
  }
  span {
    strong {
      background-color: rgba(255, 220, 146, 0.836);
      color: rgb(105, 105, 105);
      font-weight: 500;
    }
  }
}

#game {
  padding: 0;
  img {
    width: 100%;
    padding-left: 12px;
    margin-top: 10px;
  }
}

#h5 {
  font-size: 1em;
  font-weight: 700;
  padding-left: 20px;
  margin: 0;
  padding-top: 10px;
}
#p {
  font-weight: 400;
  color: rgb(90, 90, 90);
  padding-left: 20px;
  display: inline-block;
}

.row img.post-image.img-post {
  width: 100%;
  height: 100%;
  border-radius: 0%;
  padding: 0;
  object-fit: cover;
}

.start-post-card {
  margin-block: 1rem;
  border: 1px solid $secondary-light;

  p {
    padding: 0 !important;
    font-weight: 800 !important;
  }
}
.pointer {
  cursor: pointer;
}

.side-bar {
  margin-block: 1rem;

  h6 {
    margin: 0 !important;
    padding: 0 !important;
  }
  p {
    padding-inline: 1rem !important;
    padding-block: 0.5rem !important;
  }
  h6 {
    padding-inline: 1rem !important;
    margin-bottom: 0.5rem !important;
    padding-block: 0.5rem !important;
  }
  .second-h6 {
    padding: 0 !important;
    margin: 0 !important;
  }
  .third-h6 {
    margin: 0 !important;
    padding-inline: 0 !important;
  }
}
.bottom-side {
  margin-block: 1rem;
  .bottom-side-col {
    padding-top: 0.5rem !important;
  }
  a {
    padding-inline: 1rem !important;
  }
  a:nth-of-type(1) {
    margin: 0 !important;
  }
  p {
    margin-top: 0.5rem !important;
  }
  i {
    padding-right: 0.5rem;
  }
}
