.card-container {
  background-color: transparent;
  //   background-color: violet;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $secondary-light;
}

.section-container {
  margin-block-end: 1rem;
  min-height: 5rem;
  //   background-color: magenta;
}

.inner-section-container {
  margin-inline: 1.5rem;
  min-height: 3.5rem;

  .card-body {
    padding-block: 0;
  }

  .section-title {
    font-size: 1.5rem;
    font-weight: 500;

    margin-block-start: 0.7rem;
    margin-block-end: 0;
  }

  .single-exp,
  .single-edu {
    margin-top: 15px;

    .card-body {
      padding-right: 0;

      // i {
      //   color: $primary-light;

      //   &:hover {
      //     color: $dark;
      //     transition: color 0.5s ease, background-color 0.5s ease;
      //     background-color: $primary-light;
      //     border-radius: 99px;
      //     padding: 10px;
      //   }
      // }
      .edit-wrapper-one {
        opacity: 0;
        @include edit-button();
        right: 35px;

        &:hover {
          color: $warning;
          background-color: $secondary-light;
        }
      }
      .edit-wrapper-two {
        opacity: 0;
        @include edit-button();
        right: -10px;

        &:hover {
          color: $primary;
          background-color: $secondary-light;
        }
      }
    }
  }

  .card-container:hover {
    cursor: pointer;
    .edit-wrapper-one,
    .edit-wrapper-two {
      opacity: 1;
      transition: opacity 0.6s ease;
    }
  }

  .education-card {
    p {
      margin: 0;
    }
    .education-image {
      width: 50px;
      height: 50px;
      border-radius: 0;
    }
    .education-name {
      margin-block-end: 0;
      font-size: 1rem;
      font-weight: 600;
    }
    .education-info {
      font-size: 0.9rem;
      font-weight: 400;
    }
    .education-period {
      font-size: 0.8rem;
      opacity: 80%;
    }
  }
}

.card-container:nth-last-of-type(1) {
  border: 0;
  padding-block-end: 1rem;
}

.experience-card-inner-container {
  border-bottom: 1px solid white;

  .card-body {
    padding-block: 0;
  }
  p {
    margin: 0;
  }
  .experience-timeline-container {
    border: 0;
    .continuity-container {
      min-width: 45px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .circular-continuity {
        color: $secondary;
        margin-block: 15px 5px;
      }
      .linear-continuity {
        border-left: 2px solid $secondary;
        height: 60px;
      }
    }
  }

  .experience-image {
    width: 50px;
    height: 50px;
    border-radius: 0;
    object-fit: cover !important;
  }
  .experience-name {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
  }

  .experience-info {
    font-size: 0.9rem;
    font-weight: 400;
  }

  .experience-duration {
    font-size: 0.8rem;
    opacity: 80%;
  }

  .experience-location {
    font-size: 0.8rem;
    opacity: 80%;
  }

  .experience-period {
    opacity: 80%;
    font-size: 0.8rem;
  }
}

.experience-card-inner-container {
  .experience-timeline-container:last-child {
    .linear-continuity {
      height: 0;
      border: none;
    }
  }
}

.edit-wrapper {
  @include edit-button();
  top: 10px;
}
