.projects-container {
  margin-block-end: 1rem;

  h4 {
    padding-block-start: 1rem;
    padding-inline: 1.5rem;
  }
}

.project-card {
  border-bottom: 1px solid rgb(226, 226, 226);
  padding-inline: 0.5rem;
}
.project-card:nth-last-of-type(1) {
  border-bottom: 0;
}
.show-project {
  @include btn-group();
  @include outline-dark();
  &:hover {
    background-color: $secondary-emphasis;
  }
  & {
    cursor: pointer;
  }
}
.show-all-projects:hover {
  background-color: $secondary-emphasis;
  transition: background-color 0.5s ease;
  padding-inline: -1rem;
}
.show-all-projects {
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
