.projects-container {
  margin-block-end: 1rem;
}

.project-card {
  border-bottom: 1px solid rgb(226, 226, 226);
}
.project-card:nth-last-of-type(1) {
  border-bottom: 0;
}
.show-project {
  @include btn-group();
  @include outline-dark();
  &:hover {
    background-color: $secondary-emphasis;
  }
  & {
    cursor: pointer;
  }
}
.show-all-projects:hover {
  background-color: $secondary-emphasis;
}
.show-all-projects {
  cursor: pointer;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
