.suggestion-card-container {
  background-color: transparent;
  //   background-color: violet;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid black;
  width: 85%;
  margin-inline: auto;

  .suggestion-profile-image {
    border-radius: 50%;
    aspect-ratio: 4/4;
    max-width: 50px;
    margin-block-start: 1rem;
  }
  .suggestion-name {
    font-size: 1.1rem;
  }
  .suggestion-name:hover {
    text-decoration: underline;
    color: blue;
  }

  .suggestion-occupation {
    font-size: 1rem;
  }
  .last-seen-suggestion {
    font-weight: 400;
    font-size: 0.9rem;
    opacity: 80%;
  }
}

.suggestion-title {
  font-size: 1rem;
  font-weight: 500;

  margin-block-start: 1.5rem;
  margin-block-end: 0;
  margin-inline-start: 1rem;
}

.suggestions-container {
  // max-width: 85%;
  margin-inline: auto;
  padding: 5px;
  margin-top: 1rem;
}

.suggestion-button {
  border-radius: 30px;
  padding-block: 0.2rem;
}

.suggestion-card-container:nth-last-of-type(1) {
  border-bottom: 0;
}
